{% extends 'learning_logs/base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}

    {% if user.username == "basheer" %}
        <h2>Hi vappa ❤️</h2>
        <img src="{% static 'images/vappa.jpg' %}" alt="vappa" width="250">

    {% elif user.username == "ulfath" %}
        <h2>Hi umma ❤️</h2>
        <img src="{% static 'images/umma.jpg' %}" alt="umma" width="250">

    {% elif user.username == "jafar" or user.username == "alif" %}
        <h2>Hi baap ❤️</h2>
        <img src="{% static 'images/bop.jpg' %}" alt="bop" width="250">

    {% elif user.username == "ik" %}
        <h2>Hi mapla ❤️</h2>
        <img src="{% static 'images/ik.jpg' %}" alt="ik" width="250">

    {% elif user.username == "ishore" %}
        <h2>Hi mapla ❤️</h2>
        <img src="{% static 'images/ik.jpg' %}" alt="ik" width="250">


    {% else %}
        <h2>Hi {{ user.username }} 👋</h2>
    {% endif %}

{% else %}

    <p>
        Learning Log helps you keep track of your learning for any topic you are learning about.
    </p>

{% endif %}

{% endblock content %}